#set-password {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: -460px;
        left: 50%;
        width: 700px;
        height: 500px;
        transform: translate(-50%, 0);
        filter: blur(100px);
        background: var(--auth-style-bg);
        border-radius: 50%;
        z-index: 2;
        pointer-events: none;
    }
    .container {
        position: relative;
        max-width: 100vw;
        z-index: 1;

        .grid-style {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            pointer-events: none;
            user-select: none;
        }

        .content {
            width: clamp(380px, 70%, 420px);
            margin: auto;
            padding: 10px;
            overflow: hidden;

            .item-1 {
                .icon {
                    width: 56px;
                    height: 56px;
                    border-radius: 12px;
                    border: 1px solid #a4c3ff;
                    background: #0b1957cc;
                    box-shadow: 0px 0px 4.1px 4px rgba(58, 81, 245, 0.5), inset 0px -2px 0px rgba(10, 13, 18, 0.05),
                        inset 0px 0px 0px 1px rgba(10, 13, 18, 0.18);
                    img {
                        pointer-events: none;
                        user-select: none;
                    }
                }
                .header-text-content {
                    h2 {
                        color: var(--primary-color);
                        font-size: var(--heading-sm-font-size);
                        font-weight: var(--heading-sm-font-weight);
                        line-height: var(--heading-sm-line-height);
                    }
                    p {
                        color: var(--text-muted);
                        font-size: 14px;
                        font-weight: 400;
                        line-height: var(--text-md-line-height);
                        text-align: center;
                    }
                }
            }

            .item-2 {
                .form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .form-group {
                        label {
                            font-size: var(--text-sm-font-size);
                            font-weight: 500;
                            line-height: var(--text-sm-line-height);
                            color: var(--primary-lighter-color);
                            span {
                                color: var(--accent-color-2);
                            }
                        }
                        .input-wrapper {
                            position: relative;
                            width: 100%;

                            input {
                                width: 100%;
                                border-radius: 10px;
                                outline: none;
                                border: 1px solid var(--border-color);
                                padding: 10px 40px 10px 14px;
                                background: var(--input-bg);
                                box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
                                color: var(--input-color);

                                &::placeholder {
                                    font-size: var(--text-md-font-size);
                                    font-weight: 400;
                                    line-height: var(--text-md-line-height);
                                    color: var(--input-color);
                                }
                                &:focus {
                                    border: 1px solid var(--accent-color);
                                    outline: none;
                                    color: var(--accent-color);
                                }
                            }

                            .eye-icon {
                                position: absolute;
                                right: 14px;
                                top: 50%;
                                transform: translateY(-50%);
                                cursor: pointer;
                                transition: all 0.3s ease;

                                &:hover {
                                    opacity: 0.7;
                                }
                            }
                        }
                    }

                    .password-requirements {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        .requirement {
                            color: var(--input-color);
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 1.5;
                            position: relative;
                            padding-left: 16px;
                            opacity: 0.6;
                            transition: all 0.3s ease;

                            &::before {
                                content: "✓";
                                position: absolute;
                                left: 0;
                                color: var(--ternary-color);
                                transition: all 0.3s ease;
                            }

                            &.met {
                                color: var(--accent-color-2);
                                opacity: 1;
                                font-weight: 500;

                                &::before {
                                    color: var(--accent-color-2);
                                    opacity: 1;
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }

                    .button {
                        text-align: center;
                        button {
                            width: 100%;
                            border-radius: 10px;
                            background: var(--accent-color);
                            border: 2px solid var(--accent-color);
                            padding: 10px 16px;
                            cursor: pointer;
                            position: relative;
                            overflow: hidden;

                            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
                            transition: transform 0.3s ease, filter 0.3s ease;
                            span {
                                position: relative;
                                display: inline-block;
                                color: var(--primary-color);
                                font-size: var(--text-md-font-size);
                                font-weight: 600;
                                line-height: var(--text-md-line-height);

                                transform-style: preserve-3d;
                                backface-visibility: hidden;
                                transform-origin: bottom;
                                transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);

                                &::after {
                                    content: attr(data-text);
                                    position: absolute;
                                    inset: 0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    transform: rotateX(90deg) translateZ(50px);
                                    transform-origin: bottom;
                                    backface-visibility: hidden;
                                }
                            }

                            &:hover {
                                transform: translateY(-2px);
                                filter: brightness(1.08);
                            }

                            &:hover span {
                                transform: rotateX(-90deg);
                            }

                            &:active {
                                transform: translateY(0) scale(0.97);
                                filter: brightness(0.92);
                            }

                            &::before {
                                content: "";
                                position: absolute;
                                inset: 0;
                                background: linear-gradient(
                                    120deg,
                                    transparent 20%,
                                    rgba(255, 255, 255, 0.35),
                                    transparent 80%
                                );
                                transform: translateX(-100%);
                                transition: transform 0.7s ease;
                                pointer-events: none;
                            }

                            &:hover::before {
                                transform: translateX(100%);
                            }
                        }
                    }
                }
            }

            .item-3 {
                .back-nav {
                    user-select: none;
                    transition: all 0.3s ease;

                    .icon {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            pointer-events: none;
                        }
                    }
                    a {
                        color: var(--text-muted);
                        font-size: var(--text-sm-font-size);
                        font-weight: 500;
                        line-height: var(--text-sm-line-height);
                        text-decoration: none;
                    }

                    &:hover {
                        transform: translateY(-2px);
                        filter: brightness(1.08);
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    #set-password {
        &::before {
            width: 100vw;
            height: 300px;
            top: -230px;
            filter: blur(60px);
        }
        .container {
            .grid-style {
                width: 100%;
                opacity: 0.8;
                img {
                    width: 100%;
                }
            }
            .content {
                width: 90%;
                gap: 24px;
                padding: 20px 0;

                .item-1 {
                    gap: 16px;
                    .icon {
                        width: 48px;
                        height: 48px;
                        border-radius: 10px;
                        img {
                            width: 20px;
                        }
                    }
                    .header-text-content {
                        gap: 8px;
                        h2 {
                            font-size: 24px;
                            line-height: 32px;
                        }
                        p {
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }

                .item-2 {
                    gap: 24px;
                    .form {
                        gap: 16px;
                        .form-group {
                            gap: 6px;
                            label {
                                font-size: 14px;
                            }
                            .input-wrapper {
                                input {
                                    padding: 12px 40px 12px 14px;
                                    font-size: 14px;
                                    &::placeholder {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        .password-requirements {
                            gap: 6px;
                            .requirement {
                                font-size: 12px;
                            }
                        }
                        .button {
                            button {
                                padding: 12px 16px;
                                span {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }

                .item-3 {
                    .back-nav {
                        gap: 8px;
                        .icon {
                            width: 16px;
                            height: 16px;
                        }
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #set-password {
        &::before {
            width: 100vw;
            height: 300px;
            top: -250px;
            filter: blur(90px);
        }
        .container {
            .content {
                width: 80%;
                gap: 28px;

                .item-1 {
                    gap: 20px;
                    .icon {
                        width: 52px;
                        height: 52px;
                    }
                    .header-text-content {
                        h2 {
                            font-size: 28px;
                        }
                        p {
                            font-size: 15px;
                        }
                    }
                }

                .item-2 {
                    .form {
                        gap: 18px;
                        .form-group {
                            label {
                                font-size: 15px;
                            }
                            .input-wrapper {
                                input {
                                    padding: 14px 40px 14px 16px;
                                    font-size: 15px;
                                }
                            }
                        }
                        .button {
                            button {
                                padding: 14px 18px;
                                span {
                                    font-size: 17px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #set-password {
        .container {
            .content {
                width: 60%;
                gap: 32px;

                .item-1 {
                    .icon {
                        width: 56px;
                        height: 56px;
                    }
                    .header-text-content {
                        h2 {
                            font-size: 30px;
                        }
                        p {
                            font-size: 16px;
                        }
                    }
                }

                .item-2 {
                    .form {
                        gap: 20px;
                        .form-group {
                            label {
                                font-size: 16px;
                            }
                            .input-wrapper {
                                input {
                                    padding: 16px 40px 16px 20px;
                                    font-size: 16px;
                                }
                            }
                        }
                        .button {
                            button {
                                padding: 16px 20px;
                                span {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1600px) {
    #set-password {
        .container {
            .grid-style {
                width: 100vw;
                img {
                    width: 100%;
                }
            }
            .content {
                width: clamp(400px, 32vw, 650px);
                gap: clamp(24px, 2.5vw, 56px);

                .item-1 {
                    gap: clamp(16px, 1.5vw, 32px);
                    .icon {
                        width: clamp(56px, 4vw, 82px);
                        height: clamp(56px, 4vw, 82px);
                        img {
                            transform: scale(1.2);
                        }
                    }
                    .header-text-content {
                        gap: clamp(10px, 1vw, 18px);
                        h2 {
                            font-size: clamp(24px, calc(1.8vw + 8px), 42px);
                        }
                        p {
                            font-size: clamp(14px, calc(0.5vw + 10px), 20px);
                        }
                    }
                }

                .item-2 {
                    gap: clamp(20px, 2vw, 48px);
                    .form {
                        gap: clamp(16px, 1.5vw, 32px);
                        .form-group {
                            gap: clamp(8px, 0.8vw, 14px);
                            label {
                                font-size: clamp(14px, calc(0.35vw + 12px), 20px);
                            }
                            .input-wrapper {
                                input {
                                    padding: clamp(10px, 1vw, 20px) clamp(40px, 3vw, 50px) clamp(10px, 1vw, 20px)
                                        clamp(14px, 1.2vw, 28px);
                                    font-size: clamp(14px, calc(0.35vw + 12px), 20px);
                                    &::placeholder {
                                        font-size: clamp(14px, calc(0.35vw + 12px), 20px);
                                    }
                                }
                            }
                        }
                        .password-requirements {
                            gap: clamp(8px, 0.8vw, 14px);
                            .requirement {
                                font-size: clamp(12px, calc(0.3vw + 10px), 18px);
                            }
                        }
                        .button {
                            button {
                                padding: clamp(10px, 1vw, 20px) clamp(14px, 1.2vw, 28px);
                                span {
                                    font-size: clamp(16px, calc(0.3vw + 14px), 22px);
                                }
                            }
                        }
                    }
                }

                .item-3 {
                    .back-nav {
                        gap: 10px;
                        .icon {
                            width: clamp(20px, 1.5vw, 28px);
                            height: clamp(20px, 1.5vw, 28px);
                        }
                        a {
                            font-size: clamp(14px, calc(0.3vw + 12px), 20px);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    #set-password {
        .container {
            padding: 80px 0;
            .content {
                width: clamp(450px, 35vw, 750px);
                gap: clamp(32px, 3.4vw, 52px);

                .item-1 {
                    gap: clamp(24px, 2.5vw, 42px);
                    .icon {
                        width: clamp(82px, 5vw, 90px);
                        height: clamp(82px, 5vw, 90px);
                        img {
                            transform: scale(1.4);
                        }
                    }
                    .header-text-content {
                        gap: clamp(12px, 1.2vw, 24px);
                        h2 {
                            font-size: clamp(32px, calc(2vw + 10px), 46px);
                        }
                        p {
                            font-size: clamp(16px, calc(0.45vw + 12px), 21px);
                        }
                    }
                }

                .item-2 {
                    gap: clamp(32px, 3vw, 42px);
                    .form {
                        gap: clamp(20px, 2vw, 35px);
                        .form-group {
                            gap: clamp(10px, 1vw, 20px);
                            label {
                                font-size: clamp(16px, calc(0.45vw + 12px), 21px);
                            }
                            .input-wrapper {
                                input {
                                    padding: clamp(15px, 1.2vw, 22px) clamp(45px, 3vw, 55px) clamp(15px, 1.2vw, 22px)
                                        clamp(20px, 1.5vw, 35px);
                                    font-size: clamp(16px, calc(0.45vw + 12px), 21px);
                                    &::placeholder {
                                        font-size: clamp(16px, calc(0.45vw + 12px), 21px);
                                    }
                                }
                            }
                            svg {
                                display: none;
                            }
                        }
                        .password-requirements {
                            gap: clamp(10px, 1vw, 18px);
                            .requirement {
                                font-size: clamp(14px, calc(0.35vw + 12px), 20px);
                                padding-left: 25px;
                            }
                        }
                        .button {
                            button {
                                padding: clamp(15px, 1.2vw, 22px) clamp(20px, 1.5vw, 35px);
                                span {
                                    font-size: clamp(18px, calc(0.35vw + 14px), 24px);
                                }
                            }
                        }
                    }
                }

                .item-3 {
                    .back-nav {
                        gap: 14px;
                        .icon {
                            width: clamp(24px, 2vw, 36px);
                            height: clamp(24px, 2vw, 36px);
                        }
                        a {
                            font-size: clamp(16px, calc(0.35vw + 12px), 24px);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 2560px) {
    #set-password {
        .container {
            padding: 80px 0;
            .content {
                width: clamp(550px, 38vw, 950px);
                gap: clamp(48px, 5vw, 80px);

                .item-1 {
                    gap: clamp(32px, 3.2vw, 56px);
                    .icon {
                        width: clamp(110px, 6vw, 110px);
                        height: clamp(110px, 6vw, 110px);
                        border-radius: 24px;
                        img {
                            transform: scale(2);
                        }
                    }
                    .header-text-content {
                        gap: clamp(18px, 1.8vw, 46px);
                        h2 {
                            font-size: clamp(48px, calc(2.2vw + 12px), 52px);
                        }
                        p {
                            font-size: clamp(24px, calc(0.6vw + 18px), 32px);
                            line-height: 1.3;
                        }
                    }
                }

                .item-2 {
                    gap: clamp(48px, 5vw, 56px);
                    .form {
                        gap: clamp(24px, 2.5vw, 48px);
                        .form-group {
                            gap: clamp(14px, 1.5vw, 28px);
                            label {
                                font-size: clamp(24px, calc(0.6vw + 18px), 36px);
                            }
                            .input-wrapper {
                                input {
                                    border-radius: 16px;
                                    padding: clamp(25px, 2vw, 26px) clamp(50px, 4vw, 60px) clamp(25px, 2vw, 26px)
                                        clamp(35px, 2.5vw, 45px);
                                    font-size: clamp(24px, calc(0.6vw + 18px), 36px);
                                    &::placeholder {
                                        font-size: clamp(24px, calc(0.6vw + 18px), 36px);
                                    }
                                }
                            }
                        }
                        .password-requirements {
                            gap: clamp(12px, 1.2vw, 24px);
                            .requirement {
                                font-size: clamp(20px, calc(0.5vw + 16px), 28px);
                                padding-left: 40px;
                            }
                        }
                        .button {
                            button {
                                border-radius: 16px;
                                padding: clamp(25px, 2vw, 26px) clamp(35px, 2.5vw, 45px);
                                span {
                                    font-size: clamp(26px, calc(0.5vw + 20px), 38px);
                                }
                            }
                        }
                    }
                }

                .item-3 {
                    .back-nav {
                        gap: 18px;
                        .icon {
                            width: clamp(36px, 3vw, 42px);
                            height: clamp(36px, 3vw, 42px);
                        }
                        a {
                            font-size: clamp(26px, calc(0.5vw + 20px), 32px);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 3840px) {
    #set-password {
        .container {
            padding: 80px 0;
            .content {
                width: clamp(750px, 40vw, 1450px);
                gap: clamp(72px, 6vw, 112px);

                .item-1 {
                    gap: clamp(48px, 4.5vw, 92px);
                    .icon {
                        width: clamp(160px, 9vw, 130px);
                        height: clamp(160px, 9vw, 130px);
                        border-radius: 36px;
                        img {
                            transform: scale(3);
                        }
                    }
                    .header-text-content {
                        gap: clamp(24px, 2.6vw, 68px);
                        h2 {
                            font-size: clamp(78px, calc(2.8vw + 20px), 75px);
                        }
                        p {
                            font-size: clamp(36px, calc(0.9vw + 25px), 46px);
                        }
                    }
                }

                .item-2 {
                    gap: clamp(72px, 6vw, 92px);
                    .form {
                        gap: clamp(32px, 3vw, 64px);
                        .form-group {
                            gap: clamp(20px, 2.2vw, 44px);
                            label {
                                font-size: clamp(36px, calc(0.9vw + 25px), 46px);
                            }
                            .input-wrapper {
                                input {
                                    border-radius: 20px;
                                    padding: clamp(40px, 3.5vw, 40px) clamp(70px, 5vw, 80px) clamp(40px, 3.5vw, 40px)
                                        clamp(55px, 4.5vw, 65px);
                                    font-size: clamp(36px, calc(0.9vw + 25px), 46px);
                                    &::placeholder {
                                        font-size: clamp(36px, calc(0.9vw + 25px), 46px);
                                    }
                                }
                            }
                        }
                        .password-requirements {
                            gap: clamp(16px, 1.6vw, 32px);
                            .requirement {
                                font-size: clamp(28px, calc(0.7vw + 22px), 40px);
                                padding-left: 65px;
                            }
                        }
                        .button {
                            button {
                                border-radius: 20px;
                                padding: clamp(45px, 3.5vw, 46px) clamp(55px, 4.5vw, 65px);
                                span {
                                    font-size: clamp(38px, calc(0.6vw + 30px), 46px);
                                }
                            }
                        }
                    }
                }

                .item-3 {
                    .back-nav {
                        gap: 24px;
                        .icon {
                            width: clamp(52px, 4vw, 58px);
                            height: clamp(52px, 4vw, 58px);
                        }
                        a {
                            font-size: clamp(38px, calc(0.6vw + 30px), 46px);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 5120px) {
    #set-password {
        padding: 80px 0;
        .container {
            .content {
                width: clamp(950px, 42vw, 1800px);
                gap: clamp(92px, 8vw, 180px);

                .item-1 {
                    gap: clamp(72px, 6.5vw, 130px);
                    .icon {
                        width: clamp(240px, 11vw, 180px);
                        height: clamp(240px, 11vw, 180px);
                        border-radius: 56px;
                        img {
                            transform: scale(4.5);
                        }
                    }
                    .header-text-content {
                        gap: clamp(32px, 3.5vw, 122px);
                        h2 {
                            font-size: clamp(75px, calc(3.5vw + 30px), 105px);
                        }
                        p {
                            font-size: clamp(58px, calc(1.2vw + 35px), 66px);
                        }
                    }
                }

                .item-2 {
                    gap: clamp(92px, 8vw, 130px);
                    .form {
                        gap: clamp(48px, 4vw, 92px);
                        .form-group {
                            gap: clamp(32px, 3.2vw, 74px);
                            label {
                                font-size: clamp(58px, calc(1.2vw + 35px), 66px);
                            }
                            .input-wrapper {
                                input {
                                    border-radius: 28px;
                                    padding: clamp(45px, 4.5vw, 50px) clamp(90px, 7vw, 100px) clamp(45px, 4.5vw, 50px)
                                        clamp(85px, 5.5vw, 105px);
                                    font-size: clamp(58px, calc(1.2vw + 35px), 76px);
                                    &::placeholder {
                                        font-size: clamp(58px, calc(1.2vw + 35px), 76px);
                                    }
                                }
                            }
                        }
                        .password-requirements {
                            gap: clamp(24px, 2.4vw, 58px);
                            .requirement {
                                font-size: clamp(42px, calc(1vw + 32px), 58px);
                                padding-left: 90px;
                            }
                        }
                        .button {
                            button {
                                border-radius: 28px;
                                padding: clamp(65px, 4.5vw, 60px) clamp(85px, 5.5vw, 125px);
                                span {
                                    font-size: clamp(52px, calc(0.8vw + 40px), 72px);
                                }
                            }
                        }
                    }
                }

                .item-3 {
                    .back-nav {
                        gap: 36px;
                        .icon {
                            width: clamp(78px, 5vw, 95px);
                            height: clamp(78px, 5vw, 95px);
                        }
                        a {
                            font-size: clamp(52px, calc(0.8vw + 40px), 62px);
                        }
                    }
                }
            }
        }
    }
}
