#check-email {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: -460px;
        left: 50%;
        width: 700px;
        height: 500px;
        transform: translate(-50%, 0);
        filter: blur(100px);
        background: var(--auth-style-bg);
        border-radius: 50%;
        z-index: 2;
        pointer-events: none;
    }
    .container {
        position: relative;
        max-width: 100vw;
        z-index: 1;

        .grid-style {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            pointer-events: none;
            user-select: none;
        }

        .content {
            width: clamp(380px, 70%, 420px);
            margin: auto;
            padding: 10px;
            overflow: hidden;

            .item-1 {
                .icon {
                    width: 56px;
                    height: 56px;
                    border-radius: 12px;
                    border: 1px solid #a4c3ff;
                    background: #0b1957cc;
                    box-shadow: 0px 0px 4.1px 4px rgba(58, 81, 245, 0.5), inset 0px -2px 0px rgba(10, 13, 18, 0.05),
                        inset 0px 0px 0px 1px rgba(10, 13, 18, 0.18);
                    img {
                        pointer-events: none;
                        user-select: none;
                    }
                }
                .header-text-content {
                    h2 {
                        color: var(--primary-color);
                        font-size: var(--heading-sm-font-size);
                        font-weight: var(--heading-sm-font-weight);
                        line-height: var(--heading-sm-line-height);
                    }
                    p {
                        color: var(--text-muted);
                        font-size: 14px;
                        font-weight: 400;
                        line-height: var(--text-md-line-height);
                        text-align: center;
                    }
                }
            }

            .item-2 {
                .button {
                    text-align: center;
                    button {
                        width: 100%;
                        border-radius: 10px;
                        background: var(--accent-color);
                        border: 2px solid var(--accent-color);
                        padding: 10px 16px;
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;

                        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
                        transition: transform 0.3s ease, filter 0.3s ease;
                        span {
                            position: relative;
                            display: inline-block;
                            color: var(--primary-color);
                            font-size: var(--text-md-font-size);
                            font-weight: 600;
                            line-height: var(--text-md-line-height);

                            transform-style: preserve-3d;
                            backface-visibility: hidden;
                            transform-origin: bottom;
                            transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);

                            &::after {
                                content: attr(data-text);
                                position: absolute;
                                inset: 0;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                transform: rotateX(90deg) translateZ(50px);
                                transform-origin: bottom;
                                backface-visibility: hidden;
                            }
                        }

                        &:hover {
                            transform: translateY(-2px);
                            filter: brightness(1.08);
                        }

                        &:hover span {
                            transform: rotateX(-90deg);
                        }

                        &:active {
                            transform: translateY(0) scale(0.97);
                            filter: brightness(0.92);
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            inset: 0;
                            background: linear-gradient(
                                120deg,
                                transparent 20%,
                                rgba(255, 255, 255, 0.35),
                                transparent 80%
                            );
                            transform: translateX(-100%);
                            transition: transform 0.7s ease;
                            pointer-events: none;
                        }

                        &:hover::before {
                            transform: translateX(100%);
                        }
                    }
                }
                .resend-text {
                    text-align: center;
                    p {
                        color: var(--text-muted);
                        font-size: 14px;
                        font-weight: 400;
                        line-height: var(--text-md-line-height);

                        a {
                            color: var(--accent-color);
                            font-weight: 600;
                            text-decoration: none;
                            transition: color 0.3s ease;

                            &:hover {
                                color: var(--primary-color);
                            }
                        }
                    }
                }
            }

            .item-3 {
                .back-nav {
                    user-select: none;
                    transition: all 0.3s ease;

                    .icon {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            pointer-events: none;
                        }
                    }
                    a {
                        color: var(--text-muted);
                        font-size: var(--text-sm-font-size);
                        font-weight: 500;
                        line-height: var(--text-sm-line-height);
                        text-decoration: none;
                    }

                    &:hover {
                        transform: translateY(-2px);
                        filter: brightness(1.08);
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    #check-email {
        &::before {
            width: 100vw;
            height: 300px;
            top: -230px;
            filter: blur(60px);
        }
        .container {
            .grid-style {
                width: 100%;
                opacity: 0.8;
                img {
                    width: 100%;
                }
            }
            .content {
                width: 90%;
                gap: 24px;
                padding: 20px 0;

                .item-1 {
                    gap: 16px;
                    .icon {
                        width: 48px;
                        height: 48px;
                        border-radius: 10px;
                        img {
                            width: 20px;
                        }
                    }
                    .header-text-content {
                        gap: 8px;
                        h2 {
                            font-size: 24px;
                            line-height: 32px;
                        }
                        p {
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }

                .item-2 {
                    gap: 24px;
                    .button {
                        button {
                            padding: 12px 16px;
                            span {
                                font-size: 16px;
                            }
                        }
                    }
                    .resend-text {
                        p {
                            font-size: 14px;
                        }
                    }
                }

                .item-3 {
                    .back-nav {
                        gap: 8px;
                        .icon {
                            width: 16px;
                            height: 16px;
                        }
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #check-email {
        &::before {
            width: 100vw;
            height: 300px;
            top: -250px;
            filter: blur(90px);
        }
        .container {
            .content {
                width: 80%;
                gap: 28px;

                .item-1 {
                    gap: 20px;
                    .icon {
                        width: 52px;
                        height: 52px;
                    }
                    .header-text-content {
                        h2 {
                            font-size: 28px;
                        }
                        p {
                            font-size: 15px;
                        }
                    }
                }

                .item-2 {
                    .button {
                        button {
                            padding: 14px 18px;
                            span {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #check-email {
        .container {
            .content {
                width: 60%;
                gap: 32px;

                .item-1 {
                    .icon {
                        width: 56px;
                        height: 56px;
                    }
                    .header-text-content {
                        h2 {
                            font-size: 30px;
                        }
                        p {
                            font-size: 16px;
                        }
                    }
                }

                .item-2 {
                    .button {
                        button {
                            padding: 16px 20px;
                            span {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1600px) {
    #check-email {
        .container {
            .grid-style {
                width: 100vw;
                img {
                    width: 100%;
                }
            }
            .content {
                width: clamp(400px, 32vw, 650px);
                gap: clamp(24px, 2.5vw, 56px);

                .item-1 {
                    gap: clamp(16px, 1.5vw, 32px);
                    .icon {
                        width: clamp(56px, 4vw, 82px);
                        height: clamp(56px, 4vw, 82px);
                        img {
                            transform: scale(1.2);
                        }
                    }
                    .header-text-content {
                        gap: clamp(10px, 1vw, 18px);
                        h2 {
                            font-size: clamp(24px, calc(1.8vw + 8px), 42px);
                        }
                        p {
                            font-size: clamp(14px, calc(0.5vw + 10px), 20px);
                        }
                    }
                }

                .item-2 {
                    gap: clamp(20px, 2vw, 48px);
                    .button {
                        button {
                            padding: clamp(10px, 1vw, 20px) clamp(14px, 1.2vw, 28px);
                            span {
                                font-size: clamp(16px, calc(0.3vw + 14px), 22px);
                            }
                        }
                    }
                    .resend-text {
                        p {
                            font-size: clamp(14px, calc(0.3vw + 12px), 20px);
                        }
                    }
                }

                .item-3 {
                    .back-nav {
                        gap: 10px;
                        .icon {
                            width: clamp(20px, 1.5vw, 28px);
                            height: clamp(20px, 1.5vw, 28px);
                        }
                        a {
                            font-size: clamp(14px, calc(0.3vw + 12px), 20px);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    #check-email {
        .container {
            .content {
                width: clamp(450px, 35vw, 750px);
                gap: clamp(32px, 3.4vw, 72px);

                .item-1 {
                    gap: clamp(24px, 2.5vw, 52px);
                    .icon {
                        width: clamp(82px, 5vw, 110px);
                        height: clamp(82px, 5vw, 110px);
                        img {
                            transform: scale(1.4);
                        }
                    }
                    .header-text-content {
                        gap: clamp(12px, 1.2vw, 24px);
                        h2 {
                            font-size: clamp(32px, calc(2vw + 10px), 52px);
                        }
                        p {
                            font-size: clamp(16px, calc(0.45vw + 12px), 21px);
                        }
                    }
                }

                .item-2 {
                    gap: clamp(32px, 3vw, 52px);
                    .button {
                        button {
                            padding: clamp(15px, 1.2vw, 25px) clamp(20px, 1.5vw, 35px);
                            span {
                                font-size: clamp(18px, calc(0.35vw + 14px), 24px);
                            }
                        }
                    }
                    .resend-text {
                        p {
                            font-size: clamp(16px, calc(0.35vw + 12px), 24px);
                        }
                    }
                }

                .item-3 {
                    .back-nav {
                        gap: 14px;
                        .icon {
                            width: clamp(24px, 2vw, 36px);
                            height: clamp(24px, 2vw, 36px);
                        }
                        a {
                            font-size: clamp(16px, calc(0.35vw + 12px), 24px);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 2560px) {
    #check-email {
        .container {
            .content {
                width: clamp(550px, 38vw, 950px);
                gap: clamp(48px, 5vw, 80px);

                .item-1 {
                    gap: clamp(32px, 3.2vw, 56px);
                    .icon {
                        width: clamp(110px, 6vw, 140px);
                        height: clamp(110px, 6vw, 140px);
                        border-radius: 24px;
                        img {
                            transform: scale(2);
                        }
                    }
                    .header-text-content {
                        gap: clamp(18px, 1.8vw, 46px);
                        h2 {
                            font-size: clamp(48px, calc(2.2vw + 12px), 58px);
                        }
                        p {
                            font-size: clamp(24px, calc(0.6vw + 18px), 46px);
                        }
                    }
                }

                .item-2 {
                    gap: clamp(48px, 5vw, 56px);
                    .button {
                        button {
                            border-radius: 16px;
                            padding: clamp(25px, 2vw, 30px) clamp(35px, 2.5vw, 45px);
                            span {
                                font-size: clamp(26px, calc(0.5vw + 20px), 38px);
                            }
                        }
                    }
                    .resend-text {
                        p {
                            font-size: clamp(26px, calc(0.5vw + 20px), 32px);
                        }
                    }
                }

                .item-3 {
                    .back-nav {
                        gap: 18px;
                        .icon {
                            width: clamp(36px, 3vw, 42px);
                            height: clamp(36px, 3vw, 42px);
                        }
                        a {
                            font-size: clamp(26px, calc(0.5vw + 20px), 32px);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 3840px) {
    #check-email {
        .container {
            .content {
                width: clamp(750px, 40vw, 1550px);
                gap: clamp(72px, 6vw, 112px);

                .item-1 {
                    gap: clamp(48px, 4.5vw, 92px);
                    .icon {
                        width: clamp(160px, 9vw, 200px);
                        height: clamp(160px, 9vw, 200px);
                        border-radius: 36px;
                        img {
                            transform: scale(3);
                        }
                    }
                    .header-text-content {
                        gap: clamp(24px, 2.6vw, 68px);
                        h2 {
                            font-size: clamp(78px, calc(2.8vw + 20px), 85px);
                        }
                        p {
                            font-size: clamp(36px, calc(0.9vw + 25px), 48px);
                        }
                    }
                }

                .item-2 {
                    gap: clamp(72px, 6vw, 92px);
                    .button {
                        button {
                            border-radius: 20px;
                            padding: clamp(45px, 3.5vw, 55px) clamp(55px, 4.5vw, 65px);
                            span {
                                font-size: clamp(38px, calc(0.6vw + 30px), 52px);
                            }
                        }
                    }
                    .resend-text {
                        p {
                            font-size: clamp(38px, calc(0.6vw + 30px), 48px);
                        }
                    }
                }

                .item-3 {
                    .back-nav {
                        gap: 24px;
                        .icon {
                            width: clamp(52px, 4vw, 58px);
                            height: clamp(52px, 4vw, 58px);
                        }
                        a {
                            font-size: clamp(38px, calc(0.6vw + 30px), 48px);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 5120px) {
    #check-email {
        .container {
            .content {
                width: clamp(950px, 42vw, 2000px);
                gap: clamp(92px, 8vw, 180px);

                .item-1 {
                    gap: clamp(72px, 6.5vw, 130px);
                    .icon {
                        width: clamp(240px, 11vw, 300px);
                        height: clamp(240px, 11vw, 300px);
                        border-radius: 56px;
                        img {
                            transform: scale(4.5);
                        }
                    }
                    .header-text-content {
                        gap: clamp(32px, 3.5vw, 122px);
                        h2 {
                            font-size: clamp(115px, calc(3.5vw + 30px), 120px);
                        }
                        p {
                            font-size: clamp(58px, calc(1.2vw + 35px), 62px);
                        }
                    }
                }

                .item-2 {
                    gap: clamp(92px, 8vw, 130px);
                    .button {
                        button {
                            border-radius: 28px;
                            padding: clamp(65px, 4.5vw, 70px) clamp(85px, 5.5vw, 115px);
                            span {
                                font-size: clamp(52px, calc(0.8vw + 40px), 72px);
                            }
                        }
                    }
                    .resend-text {
                        p {
                            font-size: clamp(52px, calc(0.8vw + 40px), 62px);
                        }
                    }
                }

                .item-3 {
                    .back-nav {
                        gap: 36px;
                        .icon {
                            width: clamp(78px, 5vw, 95px);
                            height: clamp(78px, 5vw, 95px);
                        }
                        a {
                            font-size: clamp(52px, calc(0.8vw + 40px), 62px);
                        }
                    }
                }
            }
        }
    }
}
