.theme-toggle {
    display: flex;
    align-items: center;
    gap: 12px;

    p {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-muted);
        cursor: pointer;
        user-select: none;

        &.active {
            color: var(--accent-color);
        }
    }

    .toggle-pill {
        width: 44px;
        height: 24px;
        background: #1d2939;
        border: 1px solid #334166;
        border-radius: 12px;
        padding: 2px;
        cursor: pointer;
        display: flex;
        align-items: center;

        .circle {
            width: 18px;
            height: 18px;
            background: var(--accent-color);
            border-radius: 50%;
            transition: transform 0.25s ease-in-out;

            &.dark {
                transform: translateX(20px);
            }
        }
    }
}

@media (min-width: 1600px) {
    .theme-toggle {
        p {
            font-size: 16px;
        }
    }
}
@media (min-width: 1706px) {
    .theme-toggle {
        p {
            font-size: 18px;
        }
    }
}

@media (min-width: 1920px) {
    .theme-toggle {
        p {
            font-size: 20px;
        }
    }
}
@media (min-width: 2560px) {
    .theme-toggle {
        p {
            font-size: 26px;
        }
    }
}
@media (min-width: 3840px) {
    .theme-toggle {
        p {
            font-size: 40px;
        }

        .toggle-pill {
            width: 64px;
            height: 34px;

            .circle {
                width: 36px;
                height: 36px;
            }
        }
    }
}
@media (min-width: 5120px) {
    .theme-toggle {
        p {
            font-size: 55px;
        }

        .toggle-pill {
            width: 76px;
            height: 40px;
            margin: 0 10px;

            .circle {
                width: 46px;
                height: 46px;
            }
        }
    }
}
